<footer>
    <p class="beberConModeracion"> BEBER CON MODERACION. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS.</p>
    <div class="divFooter">
        <div>
            <i class="fas fa-mobile-alt"></i> <span>REDES</span>
            <p>
            <ul class="textoFooter">
                <li><i class="fab fa-instagram"></i> Instagram |</li>
                <li><i class="fab fa-facebook"></i> Facebook |</li>
                <li><i class="fab fa-twitter"></i> Twitter</li>
            </ul>
            </p>
        </div>
        <div>
            <i class="far fa-envelope"></i> <span>CONTACTO</span>
            <p class="textoFooter">
                Correo: contacto@eVins.com.ar | Telefono: +XX XXX XXXX XXXX
            </p>
        </div>
        <img src="images/logoeVins.png" alt="logo eVins">
        <div>
            <i class="fas fa-map-marker-alt"></i> <span>UBACACION</span>
            <p class="textoFooter">Av. Siempre viva 742, Springfields, Estados Unidos</p>
        </div>
        <div>
            <i class="far fa-list-alt"></i> <span>NAVEGACION</span>
            <p></p>
            <ul class="textoFooter">
                <li> VINOS |</li>
                <li> ESPUMANTES |</li>
                <li> DESTILADOS |</li>
                <li> IMPORTADOS |</li>
                <li> ACCESORIOS |</li>
                <li> PROMOCIONES</li>
            </ul>
            </p>
        </div>
    </div>
</footer>