<header>
    <div class="search-login-cart">
        <div class="menuBurger">
            <a href="/menu"><i id="iconosHeader" class="fas fa-bars"></i></a><i><img
                    style="width: 35px; display: flex; align-items: center;" src="/images/logoeVins2.png"></i>
        </div>
        <form action="#" method="post" target="_blank">
            <p style="width:90%;">
                <input type="search" name="busquedaProducto" placeholder="El que busca encuentra, decia mi ex...">
            </p>
        </form>
        <div class="login-register">
            <i class="far fa-id-card"></i><a href="/users/login"> Ingresar</a> | <a href="/users/register">Registrar </a><i style="margin: 5px" class="fas fa-key"></i>
        </div>
        <div>
            <a href="/product/cart"><i id="iconosHeader" class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
    <section class="encabezado">
        <nav>
            <ul>
                <li><a href="/product/vinos">VINOS</a></li>
                <li><a href="">ESPUMANTES</a></li>
                <li><a href="">DESTILADOS</a></li>
            </ul>
            <img src="/images/logoeVins.png" alt="logo eVins">
            <ul>
                <li><a href="">IMPORTADOS</a></li>
                <li><a href="">ACCESORIOS</a></li>
                <li><a href="">PROMOCIONES</a></li>
            </ul>
        </nav>
    </section>
</header>