<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header class="main-header">
        <div class="search-login-cart">
            <div class="menuBurger">
                <i id="iconosHeader" class="fas fa-bars"></i><i><img
                        style="width: 35px; display: flex; align-items: center;" src="images/logoeVins2.png"></i>
            </div>
            <form action="../../form-result.php" method="post" target="_blank">
                <p style="width:90%;">
                    <input type="search" name="busquedaProducto" placeholder="El que busca encuentra, decia mi ex...">
                </p>
            </form>
            <p class="login-register">
                Login | Register<i style="margin: 5px" class="fas fa-key"></i>
            </p>
            <div>
                <i id="iconosHeader" class="fas fa-shopping-cart"></i>
            </div>
        </div>
        <section class="encabezado">
            <nav>
                <ul>
                    <li><a href="">VINOS</a></li>
                    <li><a href="">ESPUMANTES</a></li>
                    <li><a href="">DESTILADOS</a></li>
                </ul>
                <img src="images/logoeVins.png" alt="logo eVins">
                <ul>
                    <li><a href="">IMPORTADOS</a></li>
                    <li><a href="">ACCESORIOS</a></li>
                    <li><a href="">PROMOCIONES</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <div class="contenedor-productos">
        <div data-hook="producto">
            <div>
                <a href="#" tabindex="-1">
                    <div>
                        <div>
                            <img src="https://static.wixstatic.com/media/ea71bb_77e5f5fa4dc1404fbb4680a25a09313e~mv2.jpg/v1/fill/w_319,h_477,al_c,q_80,usm_0.66_1.00_0.01/ea71bb_77e5f5fa4dc1404fbb4680a25a09313e~mv2.webp"
                                alt="Producto">
                        </div>
                        <button>vista rapida</button>
                    </div>
                </a>
                <div>
                    <a href="#">
                        <div>
                            <h3>Soy un producto</h3>
                            <div>
                                <span>Precio</span>
                                <span>$19.000</span>
                            </div>
                        </div>
                    </a>
                    <div>
                        <div>
                                <div>
                                    <div class="s1GrhA">
                                        <div class="s1W7KK"><input type="number" aria-label="Quantity"
                                                aria-live="assertive" min="1" max="99999" step="1" value="1"
                                                class="s2gxuU"></div>
                                    </div><button aria-label="Remove one item"
                                        class="s3QvZ8 o13H5U--disabled s3QlS1 sv-DbE" data-hook="counter-minus-button"
                                        name="decrement" disabled=""><svg viewBox="0 0 24 24" fill="currentColor"
                                            width="24" height="24" class="skcNh8">
                                            <path d="M20,12 L20,13 L5,13 L5,12 L20,12 Z" fill-rule="evenodd"></path>
                                        </svg></button>
                                </div>
                        </div>
                        <div class="_11Ko7">
                            <button data-fullwidth="true" data-mobile="false"
                                data-hook="product-item-add-to-cart-button"
                                class="s36jgS sAMarm svJALw o3ClIl--fullWidth s2PW78 _3FJpa s36Xsn _2olqa"
                                aria-live="assertive" type="button" tabindex="0" aria-disabled="false"><span
                                    class="s3NWfD">Añadir al carrito</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-hook="product-list-grid-item">
            <div role="group" aria-labelledby="I'm a product" aria-label="I'm a product gallery"
                data-hook="product-item-root" class="_3DNsL _1SZih"><a href="#" tabindex="-1" class="_3mKI1"
                    data-hook="product-item-container">
                    <div class="_1FMIK heightByImageRatio heightByImageRatio4" data-hook="product-item-images">
                        <div class="KVu8O _3TmRk _3Dh4K" data-hook="product-thumbnail-wrapper"><img
                                class="_1Pw1g _2njIg _3jnu3" data-hook="wix-media-image"
                                src="https://static.wixstatic.com/media/ea71bb_f4efde0ae9eb47e9b5b3b01ca5501034~mv2.jpg/v1/fill/w_319,h_477,al_c,q_80,usm_0.66_1.00_0.01/ea71bb_f4efde0ae9eb47e9b5b3b01ca5501034~mv2.webp"
                                alt="I'm a product" aria-hidden="false"></div><button class="_3PkKV"
                            data-hook="product-item-quick-view-button" tabindex="-1" aria-hidden="true">vista
                            rapida</button>
                    </div>
                </a>
                <div data-hook="not-image-container" class="_1LUxE _2R-U0"><a href="#" class="_29CWl"
                        data-hook="product-item-product-details-link">
                        <div class="_1bfj5 _51JfP" data-hook="product-item-product-details">
                            <h3 class="s2GiUf o3sgyO---typography-11-runningText o3sgyO---priority-7-primary sSURTj _9kfqj"
                                aria-hidden="false" data-hook="product-item-name">Soy un producto</h3>
                            <div class="_24XLO"><span class="_2oJ_0"
                                    data-hook="sr-product-item-price-to-pay">Precio</span><span
                                    data-hook="product-item-price-to-pay" class="_2-l9W">$12.000</span></div>
                        </div>
                    </a>
                    <div class="_1qaX-">
                        <div class="_2F-p2" data-hook="product-item-quantity-counter-wrapper">
                            <fieldset class="s1Kq0J s1Nf5W o1lgfI---size-6-medium s1C-t3 o3-Fhv--customized"
                                data-hook="product-item-quantity-counter" aria-label="Choose quantity" dir="ltr"
                                data-error="false">
                                <div class="s2f5lT"><button aria-label="Add one item" class="s3QvZ8 s3QlS1 s2jv7K"
                                        data-hook="counter-plus-button" name="increment"><svg viewBox="0 0 24 24"
                                            fill="currentColor" width="24" height="24" class="skcNh8">
                                            <path
                                                d="M13,5 L13,12 L20,12 L20,13 L13,13 L13,20 L12,20 L11.999,13 L5,13 L5,12 L12,12 L12,5 L13,5 Z"
                                                fill-rule="evenodd"></path>
                                        </svg></button>
                                    <div class="s1GrhA">
                                        <div class="s1W7KK"><input type="number" aria-label="Quantity"
                                                aria-live="assertive" min="1" max="99999" step="1" value="1"
                                                class="s2gxuU"></div>
                                    </div><button aria-label="Remove one item"
                                        class="s3QvZ8 o13H5U--disabled s3QlS1 sv-DbE" data-hook="counter-minus-button"
                                        name="decrement" disabled=""><svg viewBox="0 0 24 24" fill="currentColor"
                                            width="24" height="24" class="skcNh8">
                                            <path d="M20,12 L20,13 L5,13 L5,12 L20,12 Z" fill-rule="evenodd"></path>
                                        </svg></button>
                                </div>
                            </fieldset>
                        </div>
                        <div class="_11Ko7"><button data-fullwidth="true" data-mobile="false"
                                data-hook="product-item-add-to-cart-button"
                                class="s36jgS sAMarm svJALw o3ClIl--fullWidth s2PW78 _3FJpa s36Xsn _2olqa"
                                aria-live="assertive" type="button" tabindex="0" aria-disabled="false"><span
                                    class="s3NWfD">Añadir al carrito</span></button></div>
                    </div>
                </div>
            </div>
        </div>
        <div data-hook="product-list-grid-item">
            <div role="group" aria-labelledby="I'm a product" aria-label="I'm a product gallery"
                data-hook="product-item-root" class="_3DNsL _1SZih"><a href="#" tabindex="-1" class="_3mKI1"
                    data-hook="product-item-container">
                    <div class="_1FMIK heightByImageRatio heightByImageRatio4" data-hook="product-item-images">
                        <div class="KVu8O _3TmRk _3Dh4K" data-hook="product-thumbnail-wrapper"><img
                                class="_1Pw1g _2njIg _3jnu3" data-hook="wix-media-image"
                                src="https://static.wixstatic.com/media/ea71bb_dcc0511e47904c11b8bf51b0aee395e6~mv2.jpg/v1/fill/w_319,h_477,al_c,q_80,usm_0.66_1.00_0.01/ea71bb_dcc0511e47904c11b8bf51b0aee395e6~mv2.webp"
                                alt="I'm a product" aria-hidden="false"></div><button class="_3PkKV"
                            data-hook="product-item-quick-view-button" tabindex="-1" aria-hidden="true">vista
                            rapida</button>
                    </div>
                </a>
                <div data-hook="not-image-container" class="_1LUxE _2R-U0"><a href="#" class="_29CWl"
                        data-hook="product-item-product-details-link">
                        <div class="_1bfj5 _51JfP" data-hook="product-item-product-details">
                            <h3 class="s2GiUf o3sgyO---typography-11-runningText o3sgyO---priority-7-primary sSURTj _9kfqj"
                                aria-hidden="false" data-hook="product-item-name">Soy un producto</h3>
                            <div class="_24XLO"><span class="_2oJ_0"
                                    data-hook="sr-product-item-price-to-pay">Precio</span><span
                                    data-hook="product-item-price-to-pay" class="_2-l9W">$12.000</span></div>
                        </div>
                    </a>
                    <div class="_1qaX-">
                        <div class="_2F-p2" data-hook="product-item-quantity-counter-wrapper">
                            <fieldset class="s1Kq0J s1Nf5W o1lgfI---size-6-medium s1C-t3 o3-Fhv--customized"
                                data-hook="product-item-quantity-counter" aria-label="Choose quantity" dir="ltr"
                                data-error="false">
                                <div class="s2f5lT"><button aria-label="Add one item" class="s3QvZ8 s3QlS1 s2jv7K"
                                        data-hook="counter-plus-button" name="increment"><svg viewBox="0 0 24 24"
                                            fill="currentColor" width="24" height="24" class="skcNh8">
                                            <path
                                                d="M13,5 L13,12 L20,12 L20,13 L13,13 L13,20 L12,20 L11.999,13 L5,13 L5,12 L12,12 L12,5 L13,5 Z"
                                                fill-rule="evenodd"></path>
                                        </svg></button>
                                    <div class="s1GrhA">
                                        <div class="s1W7KK"><input type="number" aria-label="Quantity"
                                                aria-live="assertive" min="1" max="99999" step="1" value="1"
                                                class="s2gxuU"></div>
                                    </div><button aria-label="Remove one item"
                                        class="s3QvZ8 o13H5U--disabled s3QlS1 sv-DbE" data-hook="counter-minus-button"
                                        name="decrement" disabled=""><svg viewBox="0 0 24 24" fill="currentColor"
                                            width="24" height="24" class="skcNh8">
                                            <path d="M20,12 L20,13 L5,13 L5,12 L20,12 Z" fill-rule="evenodd"></path>
                                        </svg></button>
                                </div>
                            </fieldset>
                        </div>
                        <div class="_11Ko7"><button data-fullwidth="true" data-mobile="false"
                                data-hook="product-item-add-to-cart-button"
                                class="s36jgS sAMarm svJALw o3ClIl--fullWidth s2PW78 _3FJpa s36Xsn _2olqa"
                                aria-live="assertive" type="button" tabindex="0" aria-disabled="false"><span
                                    class="s3NWfD">Añadir al carrito</span></button></div>
                    </div>
                </div>
            </div>
        </div>
        <div data-hook="product-list-grid-item">
            <div role="group" aria-labelledby="I'm a product"
                aria-describedby="a910e3f8-1af0-5e4d-aeb2-82026f046c4b-ribbon" aria-label="I'm a product gallery"
                data-hook="product-item-root" class="_3DNsL _1SZih"><a href="#" tabindex="-1" class="_3mKI1"
                    data-hook="product-item-container">
                    <div class="_1FMIK heightByImageRatio heightByImageRatio4" data-hook="product-item-images">
                        <div class="KVu8O _3TmRk _3Dh4K" data-hook="product-thumbnail-wrapper"><img
                                class="_1Pw1g _2njIg _3jnu3" data-hook="wix-media-image"
                                src="https://static.wixstatic.com/media/ea71bb_908ffaf752574e3a993d81928d78740e~mv2.jpg/v1/fill/w_319,h_477,al_c,q_80,usm_0.66_1.00_0.01/ea71bb_908ffaf752574e3a993d81928d78740e~mv2.webp"
                                alt="I'm a product" aria-hidden="false"></div><span
                            id="a910e3f8-1af0-5e4d-aeb2-82026f046c4b-ribbon" class="_2CleU WIhJ- _1jpTC"
                            data-hook="product-item-ribbon">mas vendido</span><button class="_3PkKV"
                            data-hook="product-item-quick-view-button" tabindex="-1" aria-hidden="true">vista
                            rapida</button>
                    </div>
                </a>
                <div data-hook="not-image-container" class="_1LUxE _2R-U0"><a href="#" class="_29CWl"
                        data-hook="product-item-product-details-link">
                        <div class="_1bfj5 _51JfP" data-hook="product-item-product-details">
                            <h3 class="s2GiUf o3sgyO---typography-11-runningText o3sgyO---priority-7-primary sSURTj _9kfqj"
                                aria-hidden="false" data-hook="product-item-name">Soy un producto</h3>
                            <div class="_24XLO"><span class="_2oJ_0"
                                    data-hook="sr-product-item-price-to-pay">Precio</span><span
                                    data-hook="product-item-price-to-pay" class="_2-l9W">$12.900</span></div>
                        </div>
                    </a>
                    <div class="_1qaX-">
                        <div class="_2F-p2" data-hook="product-item-quantity-counter-wrapper">
                            <fieldset class="s1Kq0J s1Nf5W o1lgfI---size-6-medium s1C-t3 o3-Fhv--customized"
                                data-hook="product-item-quantity-counter" aria-label="Choose quantity" dir="ltr"
                                data-error="false">
                                <div class="s2f5lT"><button aria-label="Add one item" class="s3QvZ8 s3QlS1 s2jv7K"
                                        data-hook="counter-plus-button" name="increment"><svg viewBox="0 0 24 24"
                                            fill="currentColor" width="24" height="24" class="skcNh8">
                                            <path
                                                d="M13,5 L13,12 L20,12 L20,13 L13,13 L13,20 L12,20 L11.999,13 L5,13 L5,12 L12,12 L12,5 L13,5 Z"
                                                fill-rule="evenodd"></path>
                                        </svg></button>
                                    <div class="s1GrhA">
                                        <div class="s1W7KK"><input type="number" aria-label="Quantity"
                                                aria-live="assertive" min="1" max="99999" step="1" value="1"
                                                class="s2gxuU"></div>
                                    </div><button aria-label="Remove one item"
                                        class="s3QvZ8 o13H5U--disabled s3QlS1 sv-DbE" data-hook="counter-minus-button"
                                        name="decrement" disabled=""><svg viewBox="0 0 24 24" fill="currentColor"
                                            width="24" height="24" class="skcNh8">
                                            <path d="M20,12 L20,13 L5,13 L5,12 L20,12 Z" fill-rule="evenodd"></path>
                                        </svg></button>
                                </div>
                            </fieldset>
                        </div>
                        <div class="_11Ko7"><button data-fullwidth="true" data-mobile="false"
                                data-hook="product-item-add-to-cart-button"
                                class="s36jgS sAMarm svJALw o3ClIl--fullWidth s2PW78 _3FJpa s36Xsn _2olqa"
                                aria-live="assertive" type="button" tabindex="0" aria-disabled="false"><span
                                    class="s3NWfD">Añadir al carrito</span></button></div>
                    </div>
                </div>
            </div>
        </div>
        <div data-hook="product-list-grid-item">
            <div role="group" aria-labelledby="I'm a product" aria-label="I'm a product gallery"
                data-hook="product-item-root" class="_3DNsL _1SZih"><a href="#" tabindex="-1" class="_3mKI1"
                    data-hook="product-item-container">
                    <div class="_1FMIK heightByImageRatio heightByImageRatio4" data-hook="product-item-images">
                        <div class="KVu8O _3TmRk _3Dh4K" data-hook="product-thumbnail-wrapper"><img
                                class="_1Pw1g _2njIg _3jnu3" data-hook="wix-media-image"
                                src="https://static.wixstatic.com/media/ea71bb_e09fdd34260c4b839bf66eba405c58c2~mv2.jpg/v1/fill/w_319,h_477,al_c,q_80,usm_0.66_1.00_0.01/ea71bb_e09fdd34260c4b839bf66eba405c58c2~mv2.webp"
                                alt="I'm a product" aria-hidden="false"></div><button class="_3PkKV"
                            data-hook="product-item-quick-view-button" tabindex="-1" aria-hidden="true">vista
                            rapida</button>
                    </div>
                </a>
                <div data-hook="not-image-container" class="_1LUxE _2R-U0"><a href="#" class="_29CWl"
                        data-hook="product-item-product-details-link">
                        <div class="_1bfj5 _51JfP" data-hook="product-item-product-details">
                            <h3 class="s2GiUf o3sgyO---typography-11-runningText o3sgyO---priority-7-primary sSURTj _9kfqj"
                                aria-hidden="false" data-hook="product-item-name">Soy un producto</h3>
                            <div class="_24XLO"><span class="_2oJ_0"
                                    data-hook="sr-product-item-price-to-pay">Precio</span><span
                                    data-hook="product-item-price-to-pay" class="_2-l9W">$12.000</span></div>
                        </div>
                    </a>
                    <div class="_1qaX-">
                        <div class="_2F-p2" data-hook="product-item-quantity-counter-wrapper">
                            <fieldset class="s1Kq0J s1Nf5W o1lgfI---size-6-medium s1C-t3 o3-Fhv--customized"
                                data-hook="product-item-quantity-counter" aria-label="Choose quantity" dir="ltr"
                                data-error="false">
                                <div class="s2f5lT"><button aria-label="Add one item" class="s3QvZ8 s3QlS1 s2jv7K"
                                        data-hook="counter-plus-button" name="increment"><svg viewBox="0 0 24 24"
                                            fill="currentColor" width="24" height="24" class="skcNh8">
                                            <path
                                                d="M13,5 L13,12 L20,12 L20,13 L13,13 L13,20 L12,20 L11.999,13 L5,13 L5,12 L12,12 L12,5 L13,5 Z"
                                                fill-rule="evenodd"></path>
                                        </svg></button>
                                    <div class="s1GrhA">
                                        <div class="s1W7KK"><input type="number" aria-label="Quantity"
                                                aria-live="assertive" min="1" max="99999" step="1" value="1"
                                                class="s2gxuU"></div>
                                    </div><button aria-label="Remove one item"
                                        class="s3QvZ8 o13H5U--disabled s3QlS1 sv-DbE" data-hook="counter-minus-button"
                                        name="decrement" disabled=""><svg viewBox="0 0 24 24" fill="currentColor"
                                            width="24" height="24" class="skcNh8">
                                            <path d="M20,12 L20,13 L5,13 L5,12 L20,12 Z" fill-rule="evenodd"></path>
                                        </svg></button>
                                </div>
                            </fieldset>
                        </div>
                        <div class="_11Ko7"><button data-fullwidth="true" data-mobile="false"
                                data-hook="product-item-add-to-cart-button"
                                class="s36jgS sAMarm svJALw o3ClIl--fullWidth s2PW78 _3FJpa s36Xsn _2olqa"
                                aria-live="assertive" type="button" tabindex="0" aria-disabled="false"><span
                                    class="s3NWfD">Añadir al carrito</span></button></div>
                    </div>
                </div>
            </div>
        </div>

        <div data-hook="product-list-grid-item">
            <div role="group" aria-labelledby="I'm a product" aria-label="I'm a product gallery"
                data-hook="product-item-root" class="_3DNsL _1SZih"><a href="#" tabindex="-1" class="_3mKI1"
                    data-hook="product-item-container">
                    <div class="_1FMIK heightByImageRatio heightByImageRatio4" data-hook="product-item-images">
                        <div class="KVu8O _3TmRk _3Dh4K" data-hook="product-thumbnail-wrapper"><img
                                class="_1Pw1g _2njIg _3jnu3" data-hook="wix-media-image"
                                src="https://static.wixstatic.com/media/ea71bb_77e5f5fa4dc1404fbb4680a25a09313e~mv2.jpg/v1/fill/w_319,h_477,al_c,q_80,usm_0.66_1.00_0.01/ea71bb_77e5f5fa4dc1404fbb4680a25a09313e~mv2.webp"
                                alt="I'm a product" aria-hidden="false"></div><button class="_3PkKV"
                            data-hook="product-item-quick-view-button" tabindex="-1" aria-hidden="true">vista
                            rapida</button>
                    </div>
                </a>
                <div data-hook="not-image-container" class="_1LUxE _2R-U0"><a href="#" class="_29CWl"
                        data-hook="product-item-product-details-link">
                        <div class="_1bfj5 _51JfP" data-hook="product-item-product-details">
                            <h3 class="s2GiUf o3sgyO---typography-11-runningText o3sgyO---priority-7-primary sSURTj _9kfqj"
                                aria-hidden="false" data-hook="product-item-name">Soy un producto</h3>
                            <div class="_24XLO"><span class="_2oJ_0"
                                    data-hook="sr-product-item-price-to-pay">Precio</span><span
                                    data-hook="product-item-price-to-pay" class="_2-l9W">$19.000</span></div>
                        </div>
                    </a>
                    <div class="_1qaX-">
                        <div class="_2F-p2" data-hook="product-item-quantity-counter-wrapper">
                            <fieldset class="s1Kq0J s1Nf5W o1lgfI---size-6-medium s1C-t3 o3-Fhv--customized"
                                data-hook="product-item-quantity-counter" aria-label="Choose quantity" dir="ltr"
                                data-error="false">
                                <div class="s2f5lT"><button aria-label="Add one item" class="s3QvZ8 s3QlS1 s2jv7K"
                                        data-hook="counter-plus-button" name="increment"><svg viewBox="0 0 24 24"
                                            fill="currentColor" width="24" height="24" class="skcNh8">
                                            <path
                                                d="M13,5 L13,12 L20,12 L20,13 L13,13 L13,20 L12,20 L11.999,13 L5,13 L5,12 L12,12 L12,5 L13,5 Z"
                                                fill-rule="evenodd"></path>
                                        </svg></button>
                                    <div class="s1GrhA">
                                        <div class="s1W7KK"><input type="number" aria-label="Quantity"
                                                aria-live="assertive" min="1" max="99999" step="1" value="1"
                                                class="s2gxuU"></div>
                                    </div><button aria-label="Remove one item"
                                        class="s3QvZ8 o13H5U--disabled s3QlS1 sv-DbE" data-hook="counter-minus-button"
                                        name="decrement" disabled=""><svg viewBox="0 0 24 24" fill="currentColor"
                                            width="24" height="24" class="skcNh8">
                                            <path d="M20,12 L20,13 L5,13 L5,12 L20,12 Z" fill-rule="evenodd"></path>
                                        </svg></button>
                                </div>
                            </fieldset>
                        </div>
                        <div class="_11Ko7"><button data-fullwidth="true" data-mobile="false"
                                data-hook="product-item-add-to-cart-button"
                                class="s36jgS sAMarm svJALw o3ClIl--fullWidth s2PW78 _3FJpa s36Xsn _2olqa"
                                aria-live="assertive" type="button" tabindex="0" aria-disabled="false"><span
                                    class="s3NWfD">Añadir al carrito</span></button></div>
                    </div>
                </div>
            </div>
        </div>
        <div data-hook="product-list-grid-item">
            <div role="group" aria-labelledby="I'm a product" aria-label="I'm a product gallery"
                data-hook="product-item-root" class="_3DNsL _1SZih"><a href="#" tabindex="-1" class="_3mKI1"
                    data-hook="product-item-container">
                    <div class="_1FMIK heightByImageRatio heightByImageRatio4" data-hook="product-item-images">
                        <div class="KVu8O _3TmRk _3Dh4K" data-hook="product-thumbnail-wrapper"><img
                                class="_1Pw1g _2njIg _3jnu3" data-hook="wix-media-image"
                                src="https://static.wixstatic.com/media/ea71bb_f4efde0ae9eb47e9b5b3b01ca5501034~mv2.jpg/v1/fill/w_319,h_477,al_c,q_80,usm_0.66_1.00_0.01/ea71bb_f4efde0ae9eb47e9b5b3b01ca5501034~mv2.webp"
                                alt="I'm a product" aria-hidden="false"></div><button class="_3PkKV"
                            data-hook="product-item-quick-view-button" tabindex="-1" aria-hidden="true">vista
                            rapida</button>
                    </div>
                </a>
                <div data-hook="not-image-container" class="_1LUxE _2R-U0"><a href="#" class="_29CWl"
                        data-hook="product-item-product-details-link">
                        <div class="_1bfj5 _51JfP" data-hook="product-item-product-details">
                            <h3 class="s2GiUf o3sgyO---typography-11-runningText o3sgyO---priority-7-primary sSURTj _9kfqj"
                                aria-hidden="false" data-hook="product-item-name">Soy un producto</h3>
                            <div class="_24XLO"><span class="_2oJ_0"
                                    data-hook="sr-product-item-price-to-pay">Precio</span><span
                                    data-hook="product-item-price-to-pay" class="_2-l9W">$12.000</span></div>
                        </div>
                    </a>
                    <div class="_1qaX-">
                        <div class="_2F-p2" data-hook="product-item-quantity-counter-wrapper">
                            <fieldset class="s1Kq0J s1Nf5W o1lgfI---size-6-medium s1C-t3 o3-Fhv--customized"
                                data-hook="product-item-quantity-counter" aria-label="Choose quantity" dir="ltr"
                                data-error="false">
                                <div class="s2f5lT"><button aria-label="Add one item" class="s3QvZ8 s3QlS1 s2jv7K"
                                        data-hook="counter-plus-button" name="increment"><svg viewBox="0 0 24 24"
                                            fill="currentColor" width="24" height="24" class="skcNh8">
                                            <path
                                                d="M13,5 L13,12 L20,12 L20,13 L13,13 L13,20 L12,20 L11.999,13 L5,13 L5,12 L12,12 L12,5 L13,5 Z"
                                                fill-rule="evenodd"></path>
                                        </svg></button>
                                    <div class="s1GrhA">
                                        <div class="s1W7KK"><input type="number" aria-label="Quantity"
                                                aria-live="assertive" min="1" max="99999" step="1" value="1"
                                                class="s2gxuU"></div>
                                    </div><button aria-label="Remove one item"
                                        class="s3QvZ8 o13H5U--disabled s3QlS1 sv-DbE" data-hook="counter-minus-button"
                                        name="decrement" disabled=""><svg viewBox="0 0 24 24" fill="currentColor"
                                            width="24" height="24" class="skcNh8">
                                            <path d="M20,12 L20,13 L5,13 L5,12 L20,12 Z" fill-rule="evenodd"></path>
                                        </svg></button>
                                </div>
                            </fieldset>
                        </div>
                        <div class="_11Ko7"><button data-fullwidth="true" data-mobile="false"
                                data-hook="product-item-add-to-cart-button"
                                class="s36jgS sAMarm svJALw o3ClIl--fullWidth s2PW78 _3FJpa s36Xsn _2olqa"
                                aria-live="assertive" type="button" tabindex="0" aria-disabled="false"><span
                                    class="s3NWfD">Añadir al carrito</span></button></div>
                    </div>
                </div>
            </div>
        </div>
        <div data-hook="product-list-grid-item">
            <div role="group" aria-labelledby="I'm a product" aria-label="I'm a product gallery"
                data-hook="product-item-root" class="_3DNsL _1SZih"><a href="#" tabindex="-1" class="_3mKI1"
                    data-hook="product-item-container">
                    <div class="_1FMIK heightByImageRatio heightByImageRatio4" data-hook="product-item-images">
                        <div class="KVu8O _3TmRk _3Dh4K" data-hook="product-thumbnail-wrapper"><img
                                class="_1Pw1g _2njIg _3jnu3" data-hook="wix-media-image"
                                src="https://static.wixstatic.com/media/ea71bb_dcc0511e47904c11b8bf51b0aee395e6~mv2.jpg/v1/fill/w_319,h_477,al_c,q_80,usm_0.66_1.00_0.01/ea71bb_dcc0511e47904c11b8bf51b0aee395e6~mv2.webp"
                                alt="I'm a product" aria-hidden="false"></div><button class="_3PkKV"
                            data-hook="product-item-quick-view-button" tabindex="-1" aria-hidden="true">vista
                            rapida</button>
                    </div>
                </a>
                <div data-hook="not-image-container" class="_1LUxE _2R-U0"><a href="#" class="_29CWl"
                        data-hook="product-item-product-details-link">
                        <div class="_1bfj5 _51JfP" data-hook="product-item-product-details">
                            <h3 class="s2GiUf o3sgyO---typography-11-runningText o3sgyO---priority-7-primary sSURTj _9kfqj"
                                aria-hidden="false" data-hook="product-item-name">Soy un producto</h3>
                            <div class="_24XLO"><span class="_2oJ_0"
                                    data-hook="sr-product-item-price-to-pay">Precio</span><span
                                    data-hook="product-item-price-to-pay" class="_2-l9W">$12.000</span></div>
                        </div>
                    </a>
                    <div class="_1qaX-">
                        <div class="_2F-p2" data-hook="product-item-quantity-counter-wrapper">
                            <fieldset class="s1Kq0J s1Nf5W o1lgfI---size-6-medium s1C-t3 o3-Fhv--customized"
                                data-hook="product-item-quantity-counter" aria-label="Choose quantity" dir="ltr"
                                data-error="false">
                                <div class="s2f5lT"><button aria-label="Add one item" class="s3QvZ8 s3QlS1 s2jv7K"
                                        data-hook="counter-plus-button" name="increment"><svg viewBox="0 0 24 24"
                                            fill="currentColor" width="24" height="24" class="skcNh8">
                                            <path
                                                d="M13,5 L13,12 L20,12 L20,13 L13,13 L13,20 L12,20 L11.999,13 L5,13 L5,12 L12,12 L12,5 L13,5 Z"
                                                fill-rule="evenodd"></path>
                                        </svg></button>
                                    <div class="s1GrhA">
                                        <div class="s1W7KK"><input type="number" aria-label="Quantity"
                                                aria-live="assertive" min="1" max="99999" step="1" value="1"
                                                class="s2gxuU"></div>
                                    </div><button aria-label="Remove one item"
                                        class="s3QvZ8 o13H5U--disabled s3QlS1 sv-DbE" data-hook="counter-minus-button"
                                        name="decrement" disabled=""><svg viewBox="0 0 24 24" fill="currentColor"
                                            width="24" height="24" class="skcNh8">
                                            <path d="M20,12 L20,13 L5,13 L5,12 L20,12 Z" fill-rule="evenodd"></path>
                                        </svg></button>
                                </div>
                            </fieldset>
                        </div>
                        <div class="_11Ko7"><button data-fullwidth="true" data-mobile="false"
                                data-hook="product-item-add-to-cart-button"
                                class="s36jgS sAMarm svJALw o3ClIl--fullWidth s2PW78 _3FJpa s36Xsn _2olqa"
                                aria-live="assertive" type="button" tabindex="0" aria-disabled="false"><span
                                    class="s3NWfD">Añadir al carrito</span></button></div>
                    </div>
                </div>
            </div>
        </div>
        <div data-hook="product-list-grid-item">
            <div role="group" aria-labelledby="I'm a product"
                aria-describedby="a910e3f8-1af0-5e4d-aeb2-82026f046c4b-ribbon" aria-label="I'm a product gallery"
                data-hook="product-item-root" class="_3DNsL _1SZih"><a href="#" tabindex="-1" class="_3mKI1"
                    data-hook="product-item-container">
                    <div class="_1FMIK heightByImageRatio heightByImageRatio4" data-hook="product-item-images">
                        <div class="KVu8O _3TmRk _3Dh4K" data-hook="product-thumbnail-wrapper"><img
                                class="_1Pw1g _2njIg _3jnu3" data-hook="wix-media-image"
                                src="https://static.wixstatic.com/media/ea71bb_908ffaf752574e3a993d81928d78740e~mv2.jpg/v1/fill/w_319,h_477,al_c,q_80,usm_0.66_1.00_0.01/ea71bb_908ffaf752574e3a993d81928d78740e~mv2.webp"
                                alt="I'm a product" aria-hidden="false"></div><span
                            id="a910e3f8-1af0-5e4d-aeb2-82026f046c4b-ribbon" class="_2CleU WIhJ- _1jpTC"
                            data-hook="product-item-ribbon">mas vendido</span><button class="_3PkKV"
                            data-hook="product-item-quick-view-button" tabindex="-1" aria-hidden="true">vista
                            rapida</button>
                    </div>
                </a>
                <div data-hook="not-image-container" class="_1LUxE _2R-U0"><a href="#" class="_29CWl"
                        data-hook="product-item-product-details-link">
                        <div class="_1bfj5 _51JfP" data-hook="product-item-product-details">
                            <h3 class="s2GiUf o3sgyO---typography-11-runningText o3sgyO---priority-7-primary sSURTj _9kfqj"
                                aria-hidden="false" data-hook="product-item-name">Soy un producto</h3>
                            <div class="_24XLO"><span class="_2oJ_0"
                                    data-hook="sr-product-item-price-to-pay">Precio</span><span
                                    data-hook="product-item-price-to-pay" class="_2-l9W">$12.900</span></div>
                        </div>
                    </a>
                    <div class="_1qaX-">
                        <div class="_2F-p2" data-hook="product-item-quantity-counter-wrapper">
                            <fieldset class="s1Kq0J s1Nf5W o1lgfI---size-6-medium s1C-t3 o3-Fhv--customized"
                                data-hook="product-item-quantity-counter" aria-label="Choose quantity" dir="ltr"
                                data-error="false">
                                <div class="s2f5lT"><button aria-label="Add one item" class="s3QvZ8 s3QlS1 s2jv7K"
                                        data-hook="counter-plus-button" name="increment"><svg viewBox="0 0 24 24"
                                            fill="currentColor" width="24" height="24" class="skcNh8">
                                            <path
                                                d="M13,5 L13,12 L20,12 L20,13 L13,13 L13,20 L12,20 L11.999,13 L5,13 L5,12 L12,12 L12,5 L13,5 Z"
                                                fill-rule="evenodd"></path>
                                        </svg></button>
                                    <div class="s1GrhA">
                                        <div class="s1W7KK"><input type="number" aria-label="Quantity"
                                                aria-live="assertive" min="1" max="99999" step="1" value="1"
                                                class="s2gxuU"></div>
                                    </div><button aria-label="Remove one item"
                                        class="s3QvZ8 o13H5U--disabled s3QlS1 sv-DbE" data-hook="counter-minus-button"
                                        name="decrement" disabled=""><svg viewBox="0 0 24 24" fill="currentColor"
                                            width="24" height="24" class="skcNh8">
                                            <path d="M20,12 L20,13 L5,13 L5,12 L20,12 Z" fill-rule="evenodd"></path>
                                        </svg></button>
                                </div>
                            </fieldset>
                        </div>
                        <div class="_11Ko7"><button data-fullwidth="true" data-mobile="false"
                                data-hook="product-item-add-to-cart-button"
                                class="s36jgS sAMarm svJALw o3ClIl--fullWidth s2PW78 _3FJpa s36Xsn _2olqa"
                                aria-live="assertive" type="button" tabindex="0" aria-disabled="false"><span
                                    class="s3NWfD">Añadir al carrito</span></button></div>
                    </div>
                </div>
            </div>
        </div>
        <div data-hook="product-list-grid-item">
            <div role="group" aria-labelledby="I'm a product" aria-label="I'm a product gallery"
                data-hook="product-item-root" class="_3DNsL _1SZih"><a href="#" tabindex="-1" class="_3mKI1"
                    data-hook="product-item-container">
                    <div class="_1FMIK heightByImageRatio heightByImageRatio4" data-hook="product-item-images">
                        <div class="KVu8O _3TmRk _3Dh4K" data-hook="product-thumbnail-wrapper"><img
                                class="_1Pw1g _2njIg _3jnu3" data-hook="wix-media-image"
                                src="https://static.wixstatic.com/media/ea71bb_e09fdd34260c4b839bf66eba405c58c2~mv2.jpg/v1/fill/w_319,h_477,al_c,q_80,usm_0.66_1.00_0.01/ea71bb_e09fdd34260c4b839bf66eba405c58c2~mv2.webp"
                                alt="I'm a product" aria-hidden="false"></div><button class="_3PkKV"
                            data-hook="product-item-quick-view-button" tabindex="-1" aria-hidden="true">vista
                            rapida</button>
                    </div>
                </a>
                <div data-hook="not-image-container" class="_1LUxE _2R-U0"><a href="#" class="_29CWl"
                        data-hook="product-item-product-details-link">
                        <div class="_1bfj5 _51JfP" data-hook="product-item-product-details">
                            <h3 class="s2GiUf o3sgyO---typography-11-runningText o3sgyO---priority-7-primary sSURTj _9kfqj"
                                aria-hidden="false" data-hook="product-item-name">Soy un producto</h3>
                            <div class="_24XLO"><span class="_2oJ_0"
                                    data-hook="sr-product-item-price-to-pay">Precio</span><span
                                    data-hook="product-item-price-to-pay" class="_2-l9W">$12.000</span></div>
                        </div>
                    </a>
                    <div class="_1qaX-">
                        <div class="_2F-p2" data-hook="product-item-quantity-counter-wrapper">
                            <fieldset class="s1Kq0J s1Nf5W o1lgfI---size-6-medium s1C-t3 o3-Fhv--customized"
                                data-hook="product-item-quantity-counter" aria-label="Choose quantity" dir="ltr"
                                data-error="false">
                                <div class="s2f5lT"><button aria-label="Add one item" class="s3QvZ8 s3QlS1 s2jv7K"
                                        data-hook="counter-plus-button" name="increment"><svg viewBox="0 0 24 24"
                                            fill="currentColor" width="24" height="24" class="skcNh8">
                                            <path
                                                d="M13,5 L13,12 L20,12 L20,13 L13,13 L13,20 L12,20 L11.999,13 L5,13 L5,12 L12,12 L12,5 L13,5 Z"
                                                fill-rule="evenodd"></path>
                                        </svg></button>
                                    <div class="s1GrhA">
                                        <div class="s1W7KK"><input type="number" aria-label="Quantity"
                                                aria-live="assertive" min="1" max="99999" step="1" value="1"
                                                class="s2gxuU"></div>
                                    </div><button aria-label="Remove one item"
                                        class="s3QvZ8 o13H5U--disabled s3QlS1 sv-DbE" data-hook="counter-minus-button"
                                        name="decrement" disabled=""><svg viewBox="0 0 24 24" fill="currentColor"
                                            width="24" height="24" class="skcNh8">
                                            <path d="M20,12 L20,13 L5,13 L5,12 L20,12 Z" fill-rule="evenodd"></path>
                                        </svg></button>
                                </div>
                            </fieldset>
                        </div>
                        <div class="_11Ko7"><button data-fullwidth="true" data-mobile="false"
                                data-hook="product-item-add-to-cart-button"
                                class="s36jgS sAMarm svJALw o3ClIl--fullWidth s2PW78 _3FJpa s36Xsn _2olqa"
                                aria-live="assertive" type="button" tabindex="0" aria-disabled="false"><span
                                    class="s3NWfD">Añadir al carrito</span></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p class="beberConModeracion"> BEBER CON MODERACION. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS.</p>
        <div class="divFooter">
            <div>
                <i class="fas fa-mobile-alt"></i> <span>REDES</span>
                <p>
                <ul class="textoFooter">
                    <li><i class="fab fa-instagram"></i> Instagram |</li>
                    <li><i class="fab fa-facebook"></i> Facebook |</li>
                    <li><i class="fab fa-twitter"></i> Twitter</li>
                </ul>
                </p>
            </div>
            <div>
                <i class="far fa-envelope"></i> <span>CONTACTO</span>
                <p class="textoFooter">
                    Correo: contacto@eVins.com.ar | Telefono: +XX XXX XXXX XXXX
                </p>
            </div>
            <img src="images/logoeVins.png" alt="logo eVins">
            <div>
                <i class="fas fa-map-marker-alt"></i> <span>UBACACION</span>
                <p class="textoFooter">Av. Siempre viva 742, Springfields, Estados Unidos</p>
            </div>
            <div>
                <i class="far fa-list-alt"></i> <span>NAVEGACION</span>
                <p></p>
                <ul class="textoFooter">
                    <li> VINOS |</li>
                    <li> ESPUMANTES |</li>
                    <li> DESTILADOS |</li>
                    <li> IMPORTADOS |</li>
                    <li> ACCESORIOS |</li>
                    <li> PROMOCIONES</li>
                </ul>
                </p>
            </div>
        </div>
    </footer>
</body>
</html>