<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="images/logoeVins2.png">
    <title>eVins | Home</title>
</head>

<body>
    <%- include ('./partials/header') %>

    <main>
            <article>
                <img style="width:100% ;" src="images/banner-vinos-ed.jpg" alt="Banner">
            </article>
            <article>
                    <p class="titulares">VINOS</p>
                    <div class="article">
                        <div class="articulo">
                            <a href="productDetails">
                                <div class="divImagen">
                                    <img class="imagenes" src="images/producto.jpg" alt="Vino">
                                </div>
                                <div class="caja">
                                    <div class="precioDescuento">
                                        <p id="precio">$XX.XXX</p>
                                    </div>
                                    <br>
                                    <p id="descripcion">VINO 1</p>
                                </div>
                            </a>
                        </div>
                        <div class="articulo">
                            <a href="productDetails">
                                <div class="divImagen">
                                    <img class="imagenes" src="images/producto.jpg" alt="Vino">
                                </div>
                                <div class="caja">
                                    <div class="precioDescuento">
                                        <p id="precio">$XX.XXX</p>
                                    </div>
                                    <br>
                                    <p id="descripcion">VINO 2</p>
                                </div>
                            </a>
                        </div>
                        <div class="articulo">
                            <a href="productDetails">
                                <div class="divImagen">
                                    <img class="imagenes" src="images/producto.jpg" alt="Vino">
                                </div>
                                <div class="caja">
                                    <div class="precioDescuento">
                                        <p id="precio">$XX.XXX</p>
                                    </div>
                                    <br>
                                    <p id="descripcion">VINO 3</p>
                                </div>
                            </a>
                        </div>
                        <div class="articulo">
                            <a href="productDetails">
                                <div class="divImagen">
                                    <img class="imagenes" src="images/producto.jpg" alt="Vino">
                                </div>
                                <div class="caja">
                                    <div class="precioDescuento">
                                        <p id="precio">$XX.XXX</p>
                                    </div>
                                    <br>
                                    <p id="descripcion">VINO 4</p>
                                </div>
                            </a>
                        </div>
                    </div>    
            </article>
            <article>
                <p class="titulares">ESPUMANTES</p>
                <div class="article">
                    <div class="articulo">
                        <a href="productDetails">
                            <div class="divImagen">
                                <img class="imagenes" src="images/producto.jpg" alt="Vino">
                            </div>
                            <div class="caja">
                                <div class="precioDescuento">
                                    <p id="precio">$XX.XXX</p>
                                </div>
                                <br>
                                <p id="descripcion">ESPUMANTE 1</p>
                            </div>
                        </a>   
                    </div>
                    <div class="articulo">
                        <a href="productDetails">
                            <div class="divImagen">
                                <img class="imagenes" src="images/producto.jpg" alt="Vino">
                            </div>
                            <div class="caja">
                                <div class="precioDescuento">
                                    <p id="precio">$XX.XXX</p>
                                </div>
                                <br>
                                <p id="descripcion">ESPUMANTE 2</p>
                            </div>
                        </a>
                    </div>
                    <div class="articulo">
                        <a href="productDetails">
                            <div class="divImagen">
                                <img class="imagenes" src="images/producto.jpg" alt="Vino">
                            </div>
                            <div class="caja">
                                <div class="precioDescuento">
                                    <p id="precio">$XX.XXX</p>
                                </div>
                                <br>
                                <p id="descripcion">ESPUMANTE 3</p>
                            </div>
                        </a>
                    </div>
                    <div class="articulo">
                        <a href="productDetails">
                            <div class="divImagen">
                                <img class="imagenes" src="images/producto.jpg" alt="Vino">
                            </div>
                            <div class="caja">
                                <div class="precioDescuento">
                                    <p id="precio">$XX.XXX</p>
                                </div>
                                <br>
                                <p id="descripcion">ESPUMATE 4</p>
                            </div>
                        </a>
                    </div>
                </div>    
        </article>
            <article>
                <p class="titulares">PROMOCIONES</p>
                <div class="article">
                    <div class="articulo">
                        <a href="productDetails">
                            <div class="divImagen">
                                <img class="imagenes" src="images/producto.jpg" alt="Vino">
                            </div>
                            <div class="caja">
                                <div class="precioDescuento">
                                    <p id="precio">$XX.XXX</p>
                                    <p id="descuento">XX% OFF</p>
                                </div>
                                <br>
                                <p id="descripcion">PROMO 1</p>
                            </div>
                        </a>
                    </div>
                    <div class="articulo">
                        <a href="productDetails">
                            <div class="divImagen">
                                <img class="imagenes" src="images/producto.jpg" alt="Vino">
                            </div>
                            <div class="caja">
                                <div class="precioDescuento">
                                    <p id="precio">$XX.XXX</p>
                                    <p id="descuento">XX% OFF</p>
                                </div>
                                <br>
                                <p id="descripcion">PROMO 2</p>
                            </div>
                        </a>
                    </div>
                    <div class="articulo">
                        <a href="productDetails">
                            <div class="divImagen">
                                <img class="imagenes" src="images/producto.jpg" alt="Vino">
                            </div>
                            <div class="caja">
                                <div class="precioDescuento">
                                    <p id="precio">$XX.XXX</p>
                                    <p id="descuento">XX% OFF</p>
                                </div>
                                <br>
                                <p id="descripcion">PROMO 3</p>
                            </div>
                        </a>
                    </div>
                    <div class="articulo">
                        <a href="productDetails">
                            <div class="divImagen">
                                <img class="imagenes" src="images/producto.jpg" alt="Vino">
                            </div>
                            <div class="caja">
                                <div class="precioDescuento">
                                    <p id="precio">$XX.XXX</p>
                                    <p id="descuento">XX% OFF</p>
                                </div>
                                <br>
                                <p id="descripcion">PROMO 4</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </main>
    <%- include ('./partials/footer') %>

</body>

</html>