<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head') %>
    <title>eVins | Home</title>
</head>

<body>
    <%- include ('./partials/header') %>

    <main>
            <article>
                <img style="width:100% ;" src="images/banner-vinos-ed.jpg" alt="Banner">
            </article>
            <article>
                    <p class="titulares">VINOS</p>
                    <div class="article">
                        <div class="articulo">
                            <a href="productDetails">
                                <div class="divImagen">
                                    <img class="imagenes" src="images/producto.jpg" alt="Vino">
                                </div>
                                <div class="caja">
                                    <div class="precioDescuento">
                                        <p id="precio">$XX.XXX</p>
                                    </div>
                                    <br>
                                    <p id="descripcion">VINO 1</p>
                                </div>
                            </a>
                        </div>
                        <div class="articulo">
                            <a href="productDetails">
                                <div class="divImagen">
                                    <img class="imagenes" src="images/producto.jpg" alt="Vino">
                                </div>
                                <div class="caja">
                                    <div class="precioDescuento">
                                        <p id="precio">$XX.XXX</p>
                                    </div>
                                    <br>
                                    <p id="descripcion">VINO 2</p>
                                </div>
                            </a>
                        </div>
                        <div class="articulo">
                            <a href="productDetails">
                                <div class="divImagen">
                                    <img class="imagenes" src="images/producto.jpg" alt="Vino">
                                </div>
                                <div class="caja">
                                    <div class="precioDescuento">
                                        <p id="precio">$XX.XXX</p>
                                    </div>
                                    <br>
                                    <p id="descripcion">VINO 3</p>
                                </div>
                            </a>
                        </div>
                        <div class="articulo">
                            <a href="productDetails">
                                <div class="divImagen">
                                    <img class="imagenes" src="images/producto.jpg" alt="Vino">
                                </div>
                                <div class="caja">
                                    <div class="precioDescuento">
                                        <p id="precio">$XX.XXX</p>
                                    </div>
                                    <br>
                                    <p id="descripcion">VINO 4</p>
                                </div>
                            </a>
                        </div>
                    </div>    
            </article>
            <article>
                <p class="titulares">ESPUMANTES</p>
                <div class="article">
                    <div class="articulo">
                        <a href="productDetails">
                            <div class="divImagen">
                                <img class="imagenes" src="images/producto.jpg" alt="Vino">
                            </div>
                            <div class="caja">
                                <div class="precioDescuento">
                                    <p id="precio">$XX.XXX</p>
                                </div>
                                <br>
                                <p id="descripcion">ESPUMANTE 1</p>
                            </div>
                        </a>   
                    </div>
                    <div class="articulo">
                        <a href="productDetails">
                            <div class="divImagen">
                                <img class="imagenes" src="images/producto.jpg" alt="Vino">
                            </div>
                            <div class="caja">
                                <div class="precioDescuento">
                                    <p id="precio">$XX.XXX</p>
                                </div>
                                <br>
                                <p id="descripcion">ESPUMANTE 2</p>
                            </div>
                        </a>
                    </div>
                    <div class="articulo">
                        <a href="productDetails">
                            <div class="divImagen">
                                <img class="imagenes" src="images/producto.jpg" alt="Vino">
                            </div>
                            <div class="caja">
                                <div class="precioDescuento">
                                    <p id="precio">$XX.XXX</p>
                                </div>
                                <br>
                                <p id="descripcion">ESPUMANTE 3</p>
                            </div>
                        </a>
                    </div>
                    <div class="articulo">
                        <a href="productDetails">
                            <div class="divImagen">
                                <img class="imagenes" src="images/producto.jpg" alt="Vino">
                            </div>
                            <div class="caja">
                                <div class="precioDescuento">
                                    <p id="precio">$XX.XXX</p>
                                </div>
                                <br>
                                <p id="descripcion">ESPUMATE 4</p>
                            </div>
                        </a>
                    </div>
                </div>    
        </article>
            <article>
                <p class="titulares">PROMOCIONES</p>
                <div class="article">
                    <div class="articulo">
                        <a href="productDetails">
                            <div class="divImagen">
                                <img class="imagenes" src="images/producto.jpg" alt="Vino">
                            </div>
                            <div class="caja">
                                <div class="precioDescuento">
                                    <p id="precio">$XX.XXX</p>
                                    <p id="descuento">XX% OFF</p>
                                </div>
                                <br>
                                <p id="descripcion">PROMO 1</p>
                            </div>
                        </a>
                    </div>
                    <div class="articulo">
                        <a href="productDetails">
                            <div class="divImagen">
                                <img class="imagenes" src="images/producto.jpg" alt="Vino">
                            </div>
                            <div class="caja">
                                <div class="precioDescuento">
                                    <p id="precio">$XX.XXX</p>
                                    <p id="descuento">XX% OFF</p>
                                </div>
                                <br>
                                <p id="descripcion">PROMO 2</p>
                            </div>
                        </a>
                    </div>
                    <div class="articulo">
                        <a href="productDetails">
                            <div class="divImagen">
                                <img class="imagenes" src="images/producto.jpg" alt="Vino">
                            </div>
                            <div class="caja">
                                <div class="precioDescuento">
                                    <p id="precio">$XX.XXX</p>
                                    <p id="descuento">XX% OFF</p>
                                </div>
                                <br>
                                <p id="descripcion">PROMO 3</p>
                            </div>
                        </a>
                    </div>
                    <div class="articulo">
                        <a href="productDetails">
                            <div class="divImagen">
                                <img class="imagenes" src="images/producto.jpg" alt="Vino">
                            </div>
                            <div class="caja">
                                <div class="precioDescuento">
                                    <p id="precio">$XX.XXX</p>
                                    <p id="descuento">XX% OFF</p>
                                </div>
                                <br>
                                <p id="descripcion">PROMO 4</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </main>
    <%- include ('./partials/footer') %>

</body>

</html>