<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    
    <link rel="stylesheet" href="/css/formularios.css" />
    

    <title>Ingrese a su cuenta</title>
  </head>
  <body>
    <header >
          </ul>
          <ul>
            <li>
              <a href="/register"
                >Creá tu cuenta <i class="fas fa-id-card"></i
              ></a>
            </li>
          </ul>
        </nav>

        <div class="burger-menu texto-centrado">
        </div>
      </section>
    </header>
    <form action="/" class="form-container">
      <div>
        <label for="">
          <input
            type="text"
            name="username"
            placeholder="Nombre de Usuario"
            class="input-text"
          />
        </label>
      </div>
      <div>
        <input
          type="password"
          placeholder="Ingrese su contraseña"
          class="input-password"
        />
      </div>
      <div>
        <button type="submit">Enviar</button>
      </div>
    </form>
    <footer class="texto-centrado" style="padding: 10px">
    </footer>
  </body>
</html>
