<!DOCTYPE html>
<html lang="en">
<head>
        <%- include ('./partials/head') %>
        <link rel="stylesheet" href="..\css\menu.css">
        <title>eVins | Menu</title>
</head>
<body>
    <main>
                <ul>
                    <li><a href="/">INICIO</a></li>
                    <li><a href="/users/login">INGRESAR</a></li>
                    <li><a href="/users/register">REGISTRARSE</a></li>
                    <li><a href="/product/productCart">CARRITO</a></li>
                    <li><a href="/product/productDetails">PRODUCTO</a></li>
                    <li><a href="/product/productCreate">CREAR PRODUCTO</a></li>
                    <li><a href="">VINOS</a></li>
                    <li><a href="">ESPUMANTES</a></li>
                    <li><a href="">DESTILADOS</a></li>
                    <li><a href="">IMPORTADOS</a></li>
                    <li><a href="">ACCESORIOS</a></li>
                    <li><a href="">PROMOCIONES</a></li>
                </ul>
    </main>

</body>
</html>
