<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/register.css" rel="stylesheet">
    <link rel="stylesheet" href=".\css\productCart.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/c7717cdd20.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="images/logoeVins2.png">
    <title>eVins | Carrito de compras</title>
</head>
<body>
    <header>
        <div class="search-login-cart">
            <div class="menuBurger">
                <a href="/menu"><i id="iconosHeader" class="fas fa-bars"></i></a><i><img style="width:45px; display: flex; align-items: center;" src="images/logoeVins2.png"></i>
            </div>
                    <form action="#" method="post">
                <p style="width:90%;">
                    <input type="search" name="busquedaProducto" placeholder="El que busca encuentra, decia mi ex...">
                </p>
            </form>
            <div  class="login-register">
                <i class="far fa-id-card"></i><a href="/login"> Ingresar</a> | <a href="/register">Registrar </a><i style="margin: 5px" class="fas fa-key"></i>
            </div>
            <div>
                <a href="/productCart"><i id="iconosHeader" class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
        <section class="encabezado">
            <nav>
                <ul>
                    <li><a href="">VINOS</a></li>
                    <li><a href="">ESPUMANTES</a></li>
                    <li><a href="">DESTILADOS</a></li>
                </ul>
                <img src="images/logoeVins.png" alt="logo eVins">
                <ul>
                    <li><a href="">IMPORTADOS</a></li>
                    <li><a href="">ACCESORIOS</a></li>
                    <li><a href="">PROMOCIONES</a></li>
                </ul>
            </nav>
        </section>
    </header>

 <main>

<section>
    <h3 style="text-align: center;">Creá tu cuenta <h3>
  <form>
    <input class="boxInput" type="text" id="nombreApellido" name="nombreApellido" placeholder="Nombre y Apelldo" required>
    <br>
    <input class="boxInput" type="text" id="userName" name="userName" placeholder="Nombre de usuario" required>
    <br>
    <input class="boxInput" type="email" id="email" name="email" placeholder="E-mail" required>
    <br>
<label for="fechaNacimiento">Fecha de Nacimiento:</label>
    <input class="boxInput" type="date" id="fechaNacimiento" name="fechaNacimiento" required>
    <br>
    <input class="boxInput" type="text" id="domicilio" name="domicilio" placeholder="Domicilio" required>
    <br>
<label for="fotoUsuario">Foto de usuario:</label>
    <input type="file" id="fotoUsuario" name="fotoUsuario">
    <br>
    <input class="boxInput" type="password" id="password" name="password" placeholder="Contraseña" required>
    <br>
    <input class="boxInput" type="password" id="password" name="password" placeholder="Contraseña" required>
<br>
<button type="submit">Enviar</button>
<button type="reset">Resetear</button>
</form>
</section>
</main>

    <footer>
        <p class="beberConModeracion"> BEBER CON MODERACION. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS.</p>
        <div class="divFooter">
            <div>
                <i class="fas fa-mobile-alt"></i> <span>REDES</span>
                <p>
                    <ul class="textoFooter"> 
                        <li><i class="fab fa-instagram"></i> Instagram |</li>
                        <li><i class="fab fa-facebook"></i> Facebook |</li>
                        <li><i class="fab fa-twitter"></i> Twitter</li>
                    </ul>
                </p>
            </div>
            <div>
                <i class="far fa-envelope"></i> <span>CONTACTO</span>
                <p class="textoFooter">
                    Correo: contacto@eVins.com.ar  |  Telefono: +XX XXX XXXX XXXX
                </p>
            </div>
            <img src="images/logoeVins.png" alt="logo eVins">
            <div>
                <i class="fas fa-map-marker-alt"></i> <span>UBACACION</span>
                <p class="textoFooter">Av. Siempre viva 742, Springfields, Estados Unidos</p>
            </div>
            <div>
                <i class="far fa-list-alt"></i> <span>NAVEGACION</span>
                <p></p>
                    <ul class="textoFooter">
                        <li> VINOS |</li>
                        <li> ESPUMANTES |</li>
                        <li> DESTILADOS |</li>
                        <li> IMPORTADOS |</li>
                        <li> ACCESORIOS |</li>
                        <li> PROMOCIONES</li>
                    </ul>
                </p>
            </div>
        </div>
    </footer>
</body>
</html>