* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue';
    width: 98.5vw;
    background-color: #dadada;
}

header {
    position: absolute;
    z-index: 10;
    position: fixed;
    top: 1x;
    background: linear-gradient(to bottom, rgba(54,57,62,1),rgb(218, 218, 218,0.9));
    color: #b19b42;
    font-size: 20px;
    width: 100%;    

}

main {
    width: 100%;
    
}
.search-login-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: #b19b42, 1px, solid;
    width: 100%;
}

.search{
    display: block;
    width: 40%;
    justify-content: left;
}

.login-register{
    display: none;

}

nav {
    
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: flex;
    width: 100%;
 

}

nav ul {
    display: flex;
    width: 45%;
    justify-content: space-around;
    list-style: none;
    font-size: 12px;
    background-color: #962020;
    box-shadow: 0px 0px 10px rgb(7, 7, 7);
}

nav ul li {
    display: block;
    justify-content: space-around;
    box-shadow: 0px 0px 10px rgb(58, 0, 0);
    border-radius: 5px;
    width: 100%;
    justify-content: center;
}

nav ul li:active, li:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: .4s;
    border-radius: 5px;
}

nav ul li a{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #b19b42;
    text-decoration: none;

}

nav img {
    width: 15%;
}

.menuBurger{
    display: flex;
    align-items: center;
    justify-content: center;
}

#iconosHeader{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AC3A3A;
    font-size: 30px;
    color:#b19b42;
    width: 45px;
    height: 45px;
    margin: auto;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgb(7, 7, 7);

}


.cuerpoPagina{
    display: flex;
    
}


header div form {
    display:flex; 
    flex-grow: 1; 
    justify-content: center;
}

header div input{
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 10px;
    padding: 5px;
    box-sizing: border-box;
}


.productDetails {
    display: flex;

}

.divImgProducto{
    display: flex;
    padding: 40px;
    border: solid, 10px, #36393E;
    width: 40%;
    justify-content: center;
}


.divDetalleProducto{
    position: relative;
    width: 60%;
    justify-content: center;
    align-items: center;

}

.fotoProducto{
    width: 100%;
}

.nombreProducto{
    font-size: 30px;
    margin-top: 20px;
}

.precioProducto{
    font-size: 20px;
}

.descripcionProducto{
    padding-right: 10px;
}


.formCarrito{
    display: flex;
    justify-content: center;
    align-items: center;

}

.inputCantidad {
    width: 40px;
    height: 25px;
    font-size: 14px;
    margin-left: 2px;
    margin-right: 2px;
}

.botonCantidad {
    width: 175 ;
    height: 25px;
    font-size: 12px;
    color: #b19b42;
    background-color: #AC3A3A;
}

.ustedEstaAqui {
    margin-left: 40px;
    color: white;
    text-decoration: none;
}

.especifTecnicas{
    padding: 40px;
}

.beberConModeracion {
    display: flex;
    justify-content: center;
    border-top: #b19b42, 1px, solid;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}


.divFooter{
    font-size: 12px;
    text-align: center;
}


footer {
    background-color: #36393E;
    color: #b19b42;
    font-size: 20px;
}

footer i {
    color: white;
}

footer img {
    display: none;
}

footer span{
    font-size: 18px
}

footer ul{
    display:flex; 
    justify-content: space-around; 
    list-style: none;
}

footer ul li{
    font-size: 14px;
}

.textoFooter {
    margin-top: 5px;
    margin-bottom: 15px;

}

main {
    position: relative;
    padding-top: 50px;
}

div a {
    color:#b19b42;
    text-decoration: none;
    margin-left: 10px;
}

@media screen and (min-width: 449px) {
    nav{
        display: flex;
    }

    nav ul {
        width: 40%;
        justify-content: space-around;
        list-style: none;

    }

    section {
        position: relative;
        top: -20px
    }
    .login-register{
        display: flex;
        width: 30%;
        justify-content: center;
    }
    .menuBurger{
        display: none;
    }

    header div input{
    width: 50%;
    font-size: 14px;
    }

    main {
        position: relative;
        padding-top: 135.31px;
    }
}


@media screen and (min-width: 576px) {
    nav ul {
        width: 40%;
        justify-content: space-around;
        list-style: none;
        font-size: 18px;
        

    }
    .menuBurger{
        display: none;
    }
    

    section {
        position: relative;
        top: -20px
    }

    main {
        position: relative;
        padding-top: 143.67px;
    }

}

@media screen and (min-width: 700px) {
    nav ul {
        width: 40%;
        justify-content: space-around;
        list-style: none;
        font-size: 22px;
        
  
    }
    .menuBurger{
        display: none;
    }

    .agregarAlCarrito{
        position: absolute;
        bottom: 50px;
    }
    .divFooter {
        display: flex;
        justify-content: space-around
    }

    footer ul{
        display:block;
        list-style: none;
    }
    footer img {
        display: block;
        width: 150px;
        height: 150px;
    }

    main {
        position: relative;
        padding-top: 178.36px;
    }

}

@media screen and (min-width: 968px) {
    header {
        height: 200px;
    }
        
    nav {
        position: relative;
        top: -40px
    }

    nav ul {
        width: 40%;
        justify-content: space-around;
        list-style: none;
        font-size: 25px;
    }

    .agregarAlCarrito{
        position: absolute;
        bottom: 50px;
    }
    .menuBurger{
        display: none;
    }

    main {
        position: relative;
        padding-top: 230.69px;
    }

    
}


