/*configuraciones generales*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue';
    width: 100vw;
    background-color: #dadada;
}

/*inicio del header*/
.main-header {
    background: linear-gradient(to bottom, rgba(54, 57, 62, 1), rgba(218, 218, 218, 0.5));
    color: #b19b42;
    font-size: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.search-login-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: #b19b42, 1px, solid;
    width: 100%;
}

.search {
    display: block;
    width: 40%;
    justify-content: left;
}

.login-register {
    display: none;
}

nav {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: flex;
    width: 100%;
}

nav ul {
    display: flex;
    width: 40%;
    justify-content: space-around;
    list-style: none;
    font-size: 10px;
    background-color: #962020;
    box-shadow: 0px 0px 10px rgb(7, 7, 7);
}

nav ul li {
    display: block;
    justify-content: space-around;
    box-shadow: 0px 0px 10px rgb(58, 0, 0);
    border-radius: 5px;
    width: 100%;
    justify-content: center;
}

nav ul li:active,
li:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: .4s;
    border-radius: 5px;
}

nav ul li a {
    color: #b19b42;
    text-decoration: none;
    margin: 5px;
}

nav img {
    width: 12%;
}

.menuBurger {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*carrito de mercado*/
#iconosHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AC3A3A;
    font-size: 25px;
    color: #b19b42;
    width: 35px;
    height: 35px;
    margin: auto 10px;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(7, 7, 7);
}

.cuerpoPagina {
    display: flex;
}

article {
    margin: 50px;
}

.divProducto {
    display: flex;
    align-items: flex-end;
    padding: 40px;
    border: solid, 10px, #36393E;
}

header div form {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

header div input {
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 10px;
    padding: 5px;
    box-sizing: border-box;
}

@media screen and (min-width: 449px) {

    nav {
        display: flex;
    }

    nav ul {
        width: 40%;
        justify-content: space-around;
        list-style: none;
    }

    .login-register {
        display: flex;
        width: 30%;
        justify-content: center;
    }

    .menuBurger {
        display: none;
    }

    header div input {
        font-size: 14px;
    }

}

@media screen and (min-width: 576px) {
    nav ul {
        width: 40%;
        justify-content: space-around;
        list-style: none;
        font-size: 18px;


    }

    .menuBurger {
        display: none;
    }

    section {
        position: relative;
        top: -50px
    }
}

@media screen and (min-width: 700px) {
    
    nav ul {
        width: 40%;
        justify-content: space-around;
        list-style: none;
        font-size: 22px;
    }

    .menuBurger {
        display: none;
    }

    section {
        position: relative;
        top: -30px
    }

    header div input {
        width: 60%
    }
}

@media screen and (min-width: 968px) {

    nav{
        height: 80px;
    }

    header {
        color: #b19b42;
    }

    nav ul {
        width: 40%;
        justify-content: space-around;
        list-style: none;
        height: 30px;
    }
    .menuBurger {
        display: none;
    }


}

@media screen and (min-width: 1200px) {
    main {
        margin-top: ;
    }
}

/*inicio del seccion*/
/*setting del contenedor padre*/
.contenedor-productos {
    width: 90vw;
    background-color: #ebebeb;
    margin: auto;
    padding: 10px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-top: 55px;
}

/* setting del contendor hijo*/
.producto {
    width: 250px;
    background-color: white;
    border: solid #ebebeb 1px;
    padding: 10px;
    position: relative;
    flex-wrap: wrap;
    margin: 10px auto;
}

/*media queries para tablets*/
@media screen and (min-width: 449px) {
    .contenedor-productos {
        margin-top: 100px;
    }
}

@media screen and (min-width: 576px) {
    .contenedor-productos {
        margin-top: 100px;
    }
}

@media screen and (min-width: 700px) {
    .contenedor-productos {
        margin-top: 110px;
    }
}

@media screen and (min-width: 968px) {
    .contenedor-productos {
        margin-top: 130px;
    }
}

@media screen and (min-width: 1200px) {
    .contenedor-productos {
        margin-top: 150px;
    }
}

/*fin del seccion*/

/*inicio del footer*/
/*setting del contenedor padre*/
.alineacion-centro {
    background-color: white;
}

/* setting de los iconos del footer*/
.button-escudo {
    display: block;
    background: white;
    border: none;
    text-align: center;
    margin: auto;
}

.persona-escudo {
    color: #1259c3;
    background-color: white;
    font-size: 2em;
}

.button-regalo {
    background-color: white;
    border: none;
    display: block;
    margin: auto;
    text-align: center;

}

.caja-regalo {
    color: #1259c3;
    font-size: 2em;
}

.button-credito {
    background: white;
    border: none;
    display: block;
    margin: auto;
    text-align: center;
}

.tarjeta-credito {
    color: #1259c3;
    ;
    background-color: white;
    font-size: 2em;
}

/* setting tipografia de elementos del footer*/
h2#centrar {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}

ul#centro {
    text-align: center;
}

/* fin del footer*/

._1FMIK ._3TmRk ._1Pw1g._3jnu3 {
    max-width: 100%;
    max-height: 100%;
}

a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
button,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
nav,
object,
ol,
p,
pre,
q,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
title,
tr,
tt,
u,
ul,
var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

a {
    cursor: pointer;
    text-decoration: none;
}

._3DNsL ._1qaX- {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: flex-end;
}

._1kxvw._2RCUa ._28JNc {
    margin-left: auto;
}

._1kxvw ._28JNc {
    display: flex;
}

* {
    box-sizing: border-box;
}

user agent stylesheet div {
    display: block;
}

.inputCantidad {
    width: 40px;
    height: 25px;
    font-size: 14px;
    margin-left: 2px;
    margin-right: 2px;
}

.botonCantidad {
    width: 175;
    height: 25px;
    font-size: 12px;
    color: #b19b42;
    background-color: #AC3A3A;
}

.ustedEstaAqui {
    margin-left: 40px;
    color: white;
    text-decoration: none;
}

.especifTecnicas {
    padding: 40px;
}

.beberConModeracion {
    display: flex;
    justify-content: center;
    border-top: #b19b42, 1px, solid;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}


.divFooter {
    font-size: 12px;
    text-align: center;
}


footer {
    background-color: #36393E;
    color: #b19b42;
    font-size: 20px;
}

footer i {
    color: white;
}

footer img {
    display: none;
}

footer span {
    font-size: 18px
}

footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

footer ul li {
    font-size: 14px;
}

.textoFooter {
    margin-top: 5px;
    margin-bottom: 15px;

}

@media screen and (min-width: 449px) {
    nav {
        display: flex;
    }

    nav ul {
        width: 40%;
        justify-content: space-around;
        list-style: none;

    }

    section {
        position: relative;
        top: -20px
    }

    .login-register {
        display: flex;
        width: 30%;
        justify-content: center;
    }

    .menuBurger {
        display: none;
    }

    header div input {
        width: 50%;
        font-size: 14px;
    }

}


@media screen and (min-width: 576px) {
    nav ul {
        width: 40%;
        justify-content: space-around;
        list-style: none;
        font-size: 18px;
    }

    .menuBurger {
        display: none;
    }

    section {
        position: relative;
        top: -20px
    }

}

@media screen and (min-width: 700px) {
    nav ul {
        width: 40%;
        justify-content: space-around;
        list-style: none;
        font-size: 22px;


    }

    .menuBurger {
        display: none;
    }


    .divFooter {
        display: flex;
        justify-content: space-around
    }

    footer ul {
        display: block;
        list-style: none;
    }

    footer img {
        display: block;
        width: 150px;
        height: 150px;
    }
}

@media screen and (min-width: 968px) {
    header {
        color: #b19b42;

    }

    nav ul {
        width: 40%;
        justify-content: space-around;
        list-style: none;
        font-size: 25px;
    }

    .menuBurger {
        display: none;
    }
}