<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../css/register.css" rel="stylesheet">
    <link rel="stylesheet" href="..\css\productCart.css">
    <%- include ('../partials/head') %>
    <title>eVins | Carga de producto</title>
</head>
<body>
    <%- include(../partials/header) %>

 <main>

<section>
    <h3 style="text-align: center;">Carga de producto<h3>
  <form>
    <input class="boxInput" type="text" id="nombreDeProducto" name="nombreDeProducto" placeholder="Nombre de producto" required>
    <br>
    <textarea class="boxInput" id="descripcionDeProducto" name="descripcionDeProducto" placeholder="Descripcion de producto" required>Descripcion</textarea>
    <br>
    <label for="fotoProducto">Foto de producto:</label>
    <input type="file" id="fotoUsuario" name="fotoUsuario">
    <br>
    <label for="categoria">Categoria:</label>
    <select name="categoria" id="categoria">
      <option value="vinos">Vinos</option>
      <option value="espumantes">Espumantes</option>
      <option value="destilados">Destilados</option>
      <option value="importados">Importados</option>
      <option value="accesorios">Accesorios</option>
      <option value="promociones">Promociones</option>
  </select>
    <br>
    <input class="boxInput" type="text" id="cepa" name="cepa" placeholder="Cepa" required>
    <br>
    <input class="boxInput" type="text" id="precio" name="precio" placeholder="precio" required>
<br>
<button type="submit">Enviar</button>
<button type="reset">Resetear</button>
</form>
</section>
</main>

 <%- include(../partials/footer) %>
</body>
</html>