<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../css/productDetails.css" rel="stylesheet">
    <link rel="stylesheet" href="..\css\productCart.css">
    <%- include ('../partials/head') %>
    <title>eVins | Carrito de compras</title>
</head>
<body>
    <%- include ('../partials/header') %>

    <main>
        <div class="titulo-carrito">                
           <h1>Mi carrito</h1>          
        </div>

   <section class="detalle-carrito">
           <nav class="carrito">
               <div class="detalle-producto">Producto
                   <div class="vino-carrito" >
                        <img class="img-vino" src="images/Vino_muestra-400x400.jpg" alt="Producto del Carrito">
                   </div>                  
               </div>
               <div class="detalle-precio">Precio</div>
               <div class="detalle-cantidad">Cantidad
                    <form action="cantidad" method="get"></form>
                    <label for="unidades"></label>
                        <select name="cantidad" id="cantidad" class="contador-cantidad">
                            <option value="option-1">1</option>
                            <option value="option-2">2</option>
                            <option value="option-3">3</option>
                        </select>
                    <a href="" class="delete-icon"><i class="fa-solid fa-trash-can"></i></a>    
               </div>
               <div class="detalle-total">Total</div>
           </nav>
                <div class="cupon">
                   <input type="text" value="">
                   <button type="submit" class="botones-carrito">Aplicar cupon</button>
                </div>
   </section>
           
   <aside class="carrito-total">        
       <h2  >Total Del Carrito</h2> 
           <div class="descripcion-total">
                   <div class="total-subtotal">Subtotal</div>
                   <div class="total-envio">Envío</div>
                   <div class="total-descuentos">Descuentos</div>
                   <div class="total-pagos">
                       <form action="pagos" method="get">
                           <label >Seleccione un metodo de pago:</label>
                           <select name="pagos" id="pagos">
                               <option value="debito">Debito</option>
                               <option value="credito">Credito</option>
                               <option value="rapipago">Rapipago</option>
                           </select>
                       </form>
                   </div>
                   <div class="total-precio">Total</div>  
                   <div class="boton-finalizar-compra"><input type="button" value="Finalizar Compra" class="botones-carrito"></div>
           </div>
   </aside>


</main>

<%- include ('../partials/footer') %>
</body>
</html>