<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="..\css\productCart.css">
    <%- include ('../partials/head') %>
    <title>eVins | Carga de producto</title>
</head>
<body>
    <%- include('../partials/header') %>

 <main>

<section>
  <br>
  <div class="col-12">
    <form action="/product" method="POST">
      <div class="row product-detail">
        <div class="col-12 col-md-6">
          <label for="nombre" class="form-label">Nombre del producto:</label>
          <input type="text" name="nombre" placeholder="Ej:  " class="form-input">
        </div>
        <div class="col-12 col-md-6">
          <label for="categoria" class="form-label">Categoría:</label>
          <select name="categoria" id="categoria" class="form-input">
            <option value="">Categoria</option>
            <option value="vinos">Vinos</option>
            <option value="Espumantes">Espumantes</option>
            <option value="Destilados">Destilados</option>
            <option value="Accesorios">Accesorios</option>
          </select>
        </div>
        <div>
          <label for="descuento" class="form-label">Descuento (%):</label>
          <input type="text" id="descuento" name="descuento" placeholder="Ej: 15" class="form-input">
        <div class="col-12">
          <label for="description" class="form-label">Descipción:</label>
          <textarea name="description" id="description" class="form-input"></textarea>
        </div>
        <div class="col-12 col-md-6">
          <label for="precio" class="form-label">Precio del producto:</label>
          <input type="text" id="precio" name="precio" placeholder="Ej: 5678" class="form-input">
        </div>
        <div class="col-12">
          <button type="submit" class="buy-now-button">Guardar producto</button>
        </div>
      </div>
    </form>
  </div>
</section>
</main>

 <%- include('../partials/footer') %>
</body>
</html>