<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../css/productDetails.css" rel="stylesheet">
    <%- include ('../partials/head') %>
    <title>eVins | Detalle de producto</title>
</head>
<body>
    <%- include ('../partials/header') %>
    <main>
        <article>
            <p class="ustedEstaAqui">
                <a href="/index.html" class="ustedEstaAqui">Inicio / Vinos</a></a>
            </p>
                <div class="productDetails">
                    <div class="divImgProducto">
                        <img class="fotoProducto" src="../images/producto.jpg">
                    </div>
                    <div class="divDetalleProducto">
                        <p class="nombreProducto">NOMBRE DEL PRODUCTO</p>
                        <p class="precioProducto">$ XXXX.XX</p>
                        <br>
                        <p  class="descripcionProducto"> 
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat labore accusamus pariatur deleniti corrupti rem eius inventore libero velit excepturi, ad voluptas nostrum perferendis enim similique, repellendus illo consequuntur! Harum.
                        </p>
                        <div class="agregarAlCarrito">
                            <form class="formCarrito" action="" method="POST">
                                <label>Cantidad: </label> 
                                <input class="inputCantidad" type="number" name="cantidad">
                                <input class="botonCantidad" type="submit" value="AGREGAR AL CARRITO">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="especifTecnicas">
                    <p>ESPECIFICACIONES TECNICAS</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aspernatur officia, molestiae distinctio reiciendis, voluptatibus soluta modi vitae velit voluptatum ad quos laudantium optio aliquam ducimus tempora accusamus quis repellat?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aspernatur officia, molestiae distinctio reiciendis, voluptatibus soluta modi vitae velit voluptatum ad quos laudantium optio aliquam ducimus tempora accusamus quis repellat?</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aspernatur officia, molestiae distinctio reiciendis, voluptatibus soluta modi vitae velit voluptatum ad quos laudantium optio aliquam ducimus tempora accusamus quis repellat?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aspernatur officia, molestiae distinctio reiciendis, voluptatibus soluta modi vitae velit voluptatum ad quos laudantium optio aliquam ducimus tempora accusamus quis repellat?</p>
                </div>
           </article>
    </main>
    <%- include ('../partials/footer') %>
</body>
</html>
